{% assign provider = site.comments.provider | default: 'disqus' %}

{% if provider == "disqus" %}

{% assign disqus = site.comments.disqus %}
{% if disqus %}
<div id="disqus_thread"></div>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
<script>!function(w, d) {
  if (d.getElementById("disqus_thread")) {
    if (w.DISQUS) {
      w.DISQUS.reset({
        reload: true,
        config() {
          this.page.url = w.location.href;
          this.page.title = d.title;
        },
      });
    } else {
      w.disqus_config = function disqusConfig() {
        this.page.url = w.location.href;
        this.page.title = d.title;
      };
      w.loadJSDeferred(d.getElementById("_hrefDisqus").href + '/embed.js');
    }
  }
}(window, document);</script>
{% endif %}

{% elsif provider == "waline" %}

{% assign waline = site.comments.waline %}
{% if waline %}
<!-- Waline CSS -->
<link
  rel="stylesheet"
  href="https://unpkg.com/@waline/client@v3/dist/waline.css"
/>

<!-- Waline div -->
<div id="waline"></div>

<!-- Waline JS -->
<script type="module">
  import { init } from 'https://unpkg.com/@waline/client@v3/dist/waline.js';

  const waline = init({
    el: '#waline',
    serverURL: '{{ waline.server }}',
    dark: document.body.classList.contains('dark-mode') ? 'html.dark-mode' : false,
    lang: '{{ waline.locale | default: "en-US" }}'
  });

  document.addEventListener('hydejack-dark-mode-toggle', (e) => {
    const isDarkMode = e.detail;
    waline.update({
      dark: isDarkMode ? 'html.dark-mode' : false,
    });
  });
</script>
{% endif %}

{% endif %}